@import "../../breakpoints.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 22px;

    @include for-small-up {
        height: 100px;
    }

    &__logo {
        margin-left: 110px;
        width: 165px;

        @include for-small-up {
            margin-left: 30px;
            width: 100px;
        }
    }

    &__navbar {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        right: 110px;
        top: 70px;
        width: 295px;
        margin-right: 110px;
        color: #3d3d3d;
        font-size: 28px;
        font-weight: 600;

        @include for-medium-up {
            align-items: flex-end;
            flex-direction: column;
            margin-right: 30px;
            text-align: end;
        }

        @include for-small-up {
        }

        @include for-e-small-up {
            flex-direction: column;
            margin-right: 30px;
            margin-left: 20px;
            margin-bottom: 30px;
        }
    }
}

.link {
    text-decoration: none;
    color: #3d3d3d;
}
